<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>vue-app2</title>
  <link rel="stylesheet" href="styles/styles.css?v=1.0">
</head>

<body>

  <main id="app">
    <div :class="textcolor" :title="loadtime">
      {{ message }}
    </div>

    <hr>
    <h2>2-way binding</h2>
    <pre v-if="!inputState">Normal: {{ input }}</pre>
    <pre :class="inputState ? 'hidden' : ''">Reversed: {{ uppercaseInput | reverse }}</pre>
    <input :disabled="inputState" v-model="input">
    <input type="checkbox" :value="inputState" v-model="inputState" checked>disable: {{inputState}}<br>

    <hr>
    <h2>List</h2>
    <ol>
      <!-- Now we provide each todo-item with the todo object    -->
      <!-- it's representing, so that its content can be dynamic -->
      <todo-list v-for="item in groceryList" v-bind:todo="item"></todo-list>
    </ol>

    <hr>
    <h2>Methods</h2>
    <div>{{ currentTime() }}</div>
    <aside>what if I have to refresh it from time to time</aside>
    <button>get now</button>

    <pre>
      https://skyronic.com/blog/vuejs-internals-computed-properties
    </pre>

  </main>

  <script src="https://unpkg.com/vue"></script>

  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
  
  <script src="scripts/main.js"></script>
</body>
</html>
