extends layout

block content
    main#app
        include playground.html
        hr
        include listRendering.html
        hr
        include formInput.html
        hr
        include component.html
        