<div :class="{ 'cyan-text': textcolor, 'bold-text': isbold }" :title="loadtime">
  {{ message }}
</div>

<hr>
<h2>2-way binding</h2>
<pre v-if="!inputState">Normal: {{ input }}</pre>
<pre :class="inputState ? 'hidden' : ''">Reversed: {{ uppercaseInput | reverse }}</pre>
<input :disabled="inputState" v-model="input">
<input type="checkbox" :value="inputState" v-model="inputState" checked>disable: {{inputState}}<br>

<hr>
<h2>List</h2>
<ol>
  <!-- Now we provide each todo-item with the todo object    -->
  <!-- it's representing, so that its content can be dynamic -->
  <todo-list v-for="item in groceryList" v-bind:todo="item"></todo-list>
</ol>

<hr>
<h2>Methods</h2>
<div>{{ currentTime() }}</div>
<aside>what if I have to refresh it from time to time</aside>
<button>get now</button>

<hr>
<h2>Watch</h2>
<div id="watch-example">
  <p>
    Ask a yes/no question:
    <input v-model="question">
  </p>
  <p class="answer" v-bind:class="[computedClass]">{{ answer }}</p>
  <template v-if="!!image">
    <div :style="{border: '5px dashed lightblue', display: 'inline-block'}">
      <h4>image</h4>
      <img :src="image"/>
    </span>
  </template>
</div>

<pre>
  computed VS methods VS watch
  https://skyronic.com/blog/vuejs-internals-computed-properties
  https://vuejs.org/v2/guide/computed.html
</pre>
