body {
  font-family: sans-serif;
  font-size: 1.2em;
}

.cyan-text {
  color: cyan;
}
.brown-text {
  color: brown;
}
.gray-text {
  color: #ccc;
}
.green-text {
  color: green;
}
.italic-text {
  font-style: italic;
}
.bold-text {
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.pre {
  color: red;
}

aside {
  font-size: 0.7em;
  color: #ccc;
  font-style: italic;
}
